In [2]:
def my_function():
    print("My name is Mesuli Makeleni")
my_function()

My name is Mesuli Makeleni

In [4]:
def my_function(Name):
    print(Name + "Makeleni")
my_function("Liyolatha ")
my_function("Hlumelo ")
my_function("Othalive ")

Liyolatha Makeleni
Hlumelo Makeleni
Othalive Makeleni

In [6]:
def my_function(contactDetails):
    print(contactDetails)
my_function("076 094 1475")
my_function("makelenimesuli@gmail.com")

076 094 1475
makelenimesuli@gmail.com

In [8]:
def calcul(var):
    return 8* var
calcul(5)

40

In [3]:
def add(num1, num2):
    return num1 + num2
add(100, 50)

150

In [4]:
def additions(num1, num2):
    return num1 + num2
additions(500, 400)

900

In [5]:
def multiply(num1, num2):
    return num1*num2
multiply(10, 5)

50

In [8]:
def my_function(*dogs):
    print("The cutest dog is " + dogs[2])
my_function("Spider", "Danger", "Kitty")

The cutest dog is Kitty

In [2]:
def calculator():
    number = 3
    number = int(number)
    number1 = 5
    number1 = int(number1)
    
    exp = number**number1
    print("The calculated values is", exp)
    
calculator()

The calculated values is 243